@font-face {
    font-family: 'DDrad';
    src: url('./Orbitron-Regular.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: 'DDradBold';
    src: url('./Orbitron-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }

@keyframes bgcolor {
    0% {
        background: linear-gradient(to bottom, #000000 0%, #0099cc 100%);
    }

    30% {
        background-color: green;
    }

    60% {
        background: linear-gradient(to bottom, red 0%, yellow 100%);
    }

    90% {
        background-color: purple;
    }

    100% {
        background: linear-gradient(to bottom, blue 0%, pink 100%) }
    }


html {
    height: 100%;
    
}

button {
    position: absolute;
    height: 300px;
    width: 300px;
}

body {
    height: 100%;
    font-family: 'DDrad';
}

#splash {
    font-family: 'DDradBold';
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, #000000 0%, #0099cc 100%);
    text-align: center;
    vertical-align: middle;
    color: paleturquoise;
}

.header {
    display: inline-block;
    margin-top: 100px;
    width: 63%;
}

h1 {
    font-weight: 1000;
    font-size: 120px;
    background: -webkit-linear-gradient(yellow, purple );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin : 0 auto;
    margin-top: 75px;
}

#demo {
    cursor: pointer;
   
}

#description {
    margin: 0 auto;
    margin-top: 200px;
    width: 44%;
    line-height: 30px;
    background: -webkit-linear-gradient(white, pink );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.options-cont {
    margin: 0 auto;
    width: 44%;
    height: 100px;
    display: flex;
    margin-top: 30px;
}

.middle-option {
    margin-top: 15px;
    width: 12.50%;
    font-size: 20px;
}

.option {
    font-size: 35px;
    border-radius: 10%;
    vertical-align: middle;
    width: 43.75%;
}

#dropspot {
    cursor: default;
}

canvas {
    position: relative;
    /* -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate; */
}